### Import Required Package

In [1]:
import pandas as pd
import talib
import numpy as np
import json
import os
os.chdir('/home/jovyan/individualized-indicator')
import yaml
import glob
import pandas as pd
import gcsfs
fs = gcsfs.GCSFileSystem(project="dst-dev2021")
from backtest.simulated_backtest_pkl import *
from datetime import datetime
from dateutil.relativedelta import relativedelta

/opt/conda/envs/py310/lib/python3.10/site-packages/pyfolio/pos.py:25: UserWarning: Module "zipline.assets" not found; multipliers will not be applied to position notionals.
  warnings.warn(

### Import Tidal

In [2]:
import tidal as td

### Initialize Plumber

In [3]:
from pathlib import Path
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

PLUMBER_HOST = "https://dev-api.ddt-dst.cc/api/plumber/"
with open(f'{str(Path.home())}/.config/gcloud/application_default_credentials.json') as plumber_token:
    token = json.load(plumber_token)

In [4]:
today = datetime.today()
one_month_ago = today - relativedelta(months=1)
formatted_date = one_month_ago.strftime('%Y-%m-%d')

total_data = pd.read_parquet(
    f"{PLUMBER_HOST}stocks/tw/ohlcv",
    storage_options={
        "gcp-token": json.dumps(token),
        "start-date": formatted_date,
        "tickers": ",".join([stock for stock in ['Y9999']]),
    },
)

latest_data = total_data.reset_index()
latest_data = latest_data.iloc[-1][1].strftime("%Y-%m-%d")
latest_data
total_data

                       open      high       low     close      volume
ticker datetime
Y9999  2024-10-29  23048.45  23056.57  22711.10  22926.59  7002228000
       2024-10-30  22985.13  23116.33  22801.45  22820.43  6385074000
       2024-11-01  22438.93  22828.98  22231.94  22780.08  8015830000
       2024-11-04  22839.18  23020.99  22792.77  22965.39  6638863000
       2024-11-05  22870.11  23178.80  22849.83  23106.79  6504125000
       2024-11-06  23112.95  23439.39  23035.30  23217.38  8013368000
       2024-11-07  23180.01  23518.63  23132.94  23408.82  8714755000
       2024-11-08  23608.11  23699.70  23509.13  23553.89  8522966000
       2024-11-11  23477.75  23563.80  23306.66  23529.64  7157746000
       2024-11-12  23276.76  23276.76  22981.77  22981.77  8798515000
       2024-11-13  22894.91  23046.47  22860.23  22860.23  7454299000
       2024-11-14  22821.04  22893.82  22619.71  22715.38  8159633000
       2024-11-15  22767.11  22940.80  22690.77  22742.77  7887946000
       2024-11-18  22693.96  22781.77  22503.69  22546.54  7378710000
       2024-11-19  22614.74  22906.69  22578.75  22848.80  7496707000
       2024-11-20  22872.91  22977.56  22622.47  22688.36  7304592000
       2024-11-21  22671.66  22708.57  22490.28  22555.66  6888868000
       2024-11-22  22799.53  23019.04  22799.53  22904.32  7592870000
       2024-11-25  22996.05  23172.43  22948.37  22948.37  9016499000
       2024-11-26  22789.60  22832.11  22645.13  22678.76  6587493000
       2024-11-27  22665.58  22743.99  22334.78  22334.78  7465837000
       2024-11-28  22380.45  22413.25  22124.31  22298.90  6876239000

### Simulated_price

In [5]:
ind_start = '2021-11-01'
ind_end = latest_data
# ind_end = datetime.today().strftime('%Y-%m-%d')
day_start = '2024-04-01'
day_end = '2024-08-30'
test_start = '2024-09-02'
# 取得當天的日期
test_end = ind_end
train_season = '2024_06_01'
emb_length = 'embeddings_length200_2024_06_01.npy'

etl = recommend_stock(emb_length, ind_start, ind_end, day_start, day_end, test_start, test_end, train_season)

indicator_path_r = 'jeff-stock-wise/indicator/'+ train_season + '/indicator_chose.csv'
        
with fs.open(indicator_path_r, 'r') as f:
    indicator_top_list = pd.read_csv(f, index_col=0)

TOP_k = len(indicator_top_list)

# 回測
input_backtest_table = Input_backtest_table(etl,'top_'+str(TOP_k), test_start, test_end, train_season)
input_backtest_table_calculate = input_backtest_table.calculate()

ok

100%|██████████| 324/324 [00:28<00:00, 11.32it/s]
100%|██████████| 324/324 [00:27<00:00, 11.72it/s]

### Load market data and compute technical indicators

In [6]:
gcs_path = 'jeff-stock-wise/simulated/'

start_date = "2024-10-01"
end_date = latest_data

# 初始化一個空的字典來存儲所有讀取的 DataFrame
dataframes = {}

# 遍歷目錄中的所有檔案
for filename in fs.ls(gcs_path):
    if filename.endswith('.pkl'):
        # 組合完整的檔案路徑
        with fs.open(filename, 'rb') as f:
        # 讀取 .pkl 檔案
            df = pd.read_pickle(f)
        
        # 使用檔案名稱（不包括副檔名）作為字典的鍵
        variable_name = filename.split('_')[2]
        
        # 將 DataFrame 儲存到字典中
        dataframes[variable_name] = df

keys_list = list(dataframes.keys())
# 將字符串轉換為 datetime 格式，然後進行排序
sorted_dates = sorted(pd.to_datetime(keys_list))
keys_list = [date.strftime('%Y-%m-%d') for date in sorted_dates]

total_df = pd.DataFrame()

for j in range(0,len(keys_list)):
    df_name = keys_list[j]
    selected_df = dataframes[df_name]    
    selected_df = selected_df.reset_index()
    stock_list = pd.DataFrame(selected_df.iloc[:,0].unique())
    total_df = pd.concat([total_df, stock_list], ignore_index=True)
    
unique_values_list = list(total_df.iloc[:,0].unique())
sorted_list = sorted(unique_values_list)

total_data = pd.read_parquet(
    f"{PLUMBER_HOST}stocks/tw/ohlcv",
    storage_options={
        "gcp-token": json.dumps(token),
        "start-date": start_date,
        "end-date": end_date,
        "tickers": ",".join([stock for stock in sorted_list]),
    },
)

total_data.index = total_data.index.set_levels(
    pd.to_datetime(total_data.index.levels[1]),level=1)

total_data.rename_axis(index={
    'ticker': 'instrument'
}, inplace=True)

total_data['new'] = -1
total_data.reset_index(inplace=True)

def filter_by_year_month_12(filter_data, select_year, select_mon):
    # 計算當前篩選年份和下一個年份
    next_year = select_year + 1
    
    # 構建篩選條件：當前年12月、次年1月、次年2月
    filter_data = filter_data[
        ((filter_data['datetime'].dt.year == next_year) & (filter_data['datetime'].dt.month == 1)) |
        ((filter_data['datetime'].dt.year == next_year) & (filter_data['datetime'].dt.month == 2)) |
        ((filter_data['datetime'].dt.year == next_year) & (filter_data['datetime'].dt.month == 3))
    ]
    
    return filter_data

concat_df = pd.DataFrame()

# for i in range(0,len(keys_list)-1):
for i in range(0,len(keys_list)):
    df_name = keys_list[i]
    selected_df = dataframes[df_name]
    selected_df.reset_index(inplace=True)
    stock_df = selected_df.iloc[:,0]
    stock_df_unique = list(stock_df.unique())
    result = list(set(sorted_list) - set(stock_df_unique))
    filtered_df = total_data[total_data['instrument'].isin(result)]
    filtered_df = filtered_df.rename(columns={'volume': 'vol'})
    selected_df = pd.concat([selected_df, filtered_df], ignore_index=True)
    
    select_year = int(df_name.split('-')[0])
    select_mon = int(df_name.split('-')[1])
    select_mons = [(select_mon+1)%12, (select_mon+2)%12, (select_mon+3)%12]
    select_mons = [12 if mon == 0 else mon for mon in select_mons]
    
    selected_df['datetime'] = pd.to_datetime(selected_df['datetime'])
    # 過濾出所有6月的交易資料
    filter_data = selected_df[selected_df['datetime'].dt.month.isin(select_mons)]

    # 使用時，根據 select_year 和 select_mon 動態篩選數據
        
    if select_mon == 12:
        filter_data = filter_by_year_month_12(filter_data, select_year, select_mon) 

    else:
        filter_data = filter_data[filter_data['datetime'].dt.year == select_year]
    
    concat_df = pd.concat([concat_df, filter_data], ignore_index=True)
    
# i = len(keys_list)-1
# df_name = keys_list[i]
# selected_df = dataframes[df_name]
# selected_df.reset_index(inplace=True)
# stock_df = selected_df.iloc[:,0]
# stock_df_unique = list(stock_df.unique())
# result = list(set(sorted_list) - set(stock_df_unique))
# filtered_df = total_data[total_data['instrument'].isin(result)]
# filtered_df = filtered_df.rename(columns={'volume': 'vol'})
# selected_df = pd.concat([selected_df, filtered_df], ignore_index=True)
# concat_df = pd.concat([concat_df, selected_df], ignore_index=True)

concat_df.sort_values(by=['instrument', 'datetime'], inplace=True)
concat_df.reset_index(drop=True, inplace=True)
row = np.where(concat_df.iloc[:,0] == '6251')[0]
concat_df = concat_df.drop(index=row)
concat_df = concat_df.reset_index(drop=True)
row = np.where(concat_df.iloc[:,0] == '8406')[0]
concat_df = concat_df.drop(index=row)
concat_df = concat_df.reset_index(drop=True)
row = np.where(concat_df.iloc[:,0] == '6548')[0]
concat_df = concat_df.drop(index=row)
concat_df = concat_df.reset_index(drop=True)
quote_data = concat_df.set_index(['instrument', 'datetime'])
quote_data.columns.values[4] = 'volume'
quote_data
# quote_data.to_csv('./quote_data.csv')

                         open    high     low   close      volume       new
instrument datetime
1101       2024-10-01   33.90   33.90   33.45   33.70  15831917.0  0.000269
           2024-10-04   33.50   34.00   33.50   33.80  17712471.0  0.000282
           2024-10-07   33.80   33.85   33.30   33.50  13191324.0  0.000288
           2024-10-08   33.25   33.45   32.90   33.05  14236524.0  0.000293
           2024-10-09   32.90   32.95   32.45   32.45  11396786.0  0.000295
...                       ...     ...     ...     ...         ...       ...
9958       2024-11-22  182.00  184.50  180.00  180.50   2093628.0  0.000416
           2024-11-25  182.00  185.00  182.00  184.50   1605437.0  0.000675
           2024-11-26  184.50  185.00  182.00  182.50   1297594.0  0.000584
           2024-11-27  184.50  186.00  179.50  179.50   2324523.0  0.000395
           2024-11-28  181.00  182.00  175.50  180.00   1910099.0  0.000544

[12636 rows x 6 columns]

### Strategy Lake API

In [7]:
data_api_url = ("https://dev-api.ddt-dst.cc/api/plumber/nextron/industry_prod_df")
df = pd.read_parquet(
    data_api_url,
    storage_options={
        "gcp-token": json.dumps(token),
    }
)

### Load benchmark data

In [8]:
benchmark_inst = "0050"
benchmark_data = pd.read_parquet(
    f"{PLUMBER_HOST}stocks/tw/ohlcv",
    storage_options={
        "gcp-token": json.dumps(token),
        "start-date": start_date,
        "end-date": end_date,
        "tickers": benchmark_inst,
    },
)
benchmark_data.index.set_levels(
    pd.to_datetime(benchmark_data.index.levels[1]),
    level=1,
    inplace=True,
)
benchmark_data.rename_axis(index={
    'ticker': 'instrument'
}, inplace=True)

benchmark_data

/tmp/ipykernel_4321/2173060872.py:11: FutureWarning: inplace is deprecated and will be removed in a future version.
  benchmark_data.index.set_levels(

                         open    high     low   close    volume
instrument datetime
0050       2024-10-01  183.90  184.60  183.35  183.60   9883064
           2024-10-04  184.00  185.30  183.00  183.60   9244059
           2024-10-07  185.80  188.20  185.80  188.15  13993911
           2024-10-08  186.95  187.35  185.50  187.25   9953432
           2024-10-09  189.00  190.20  189.00  189.00  11860866
           2024-10-11  189.05  192.80  189.05  192.15  13197709
           2024-10-14  192.10  192.90  190.95  192.30  10725917
           2024-10-15  193.00  196.60  193.00  196.40  15738243
           2024-10-16  192.45  195.30  191.65  193.00  18604770
           2024-10-17  194.00  194.10  191.90  193.30   9936801
           2024-10-18  199.30  200.20  197.25  198.10  33596096
           2024-10-21  199.05  199.95  198.00  198.05  13716495
           2024-10-22  197.20  197.30  195.35  197.30   8995727
           2024-10-23  196.70  196.90  195.65  196.00  10050673
           2024-10-24  196.00  196.70  194.50  194.80   8642395
           2024-10-25  195.00  196.55  195.00  196.40  12961246
           2024-10-28  197.90  198.15  194.95  196.05  11929580
           2024-10-29  193.25  193.25  190.20  191.50  26008937
           2024-10-30  192.95  194.05  191.50  191.80  14531256
           2024-11-01  186.15  190.55  185.95  190.50  21072030
           2024-11-04  191.05  193.20  190.80  192.95   7681874
           2024-11-05  191.55  194.70  191.40  193.65  10565332
           2024-11-06  194.05  198.05  193.50  195.20  17354391
           2024-11-07  194.90  198.05  194.50  197.45  13976813
           2024-11-08  199.40  200.00  198.70  199.00  13571143
           2024-11-11  198.85  199.10  196.80  199.10  12949097
           2024-11-12  195.20  195.85  194.00  194.00  28057434
           2024-11-13  193.85  194.00  192.50  192.75   9953901
           2024-11-14  192.30  192.50  190.10  191.00  13318035
           2024-11-15  192.05  192.85  190.85  192.35   7809314
           2024-11-18  191.45  191.70  189.60  189.65  14637016
           2024-11-19  190.70  192.95  190.20  192.25   7932841
           2024-11-20  192.80  193.35  190.75  191.45  12509186
           2024-11-21  190.00  190.15  188.60  189.35  17071862
           2024-11-22  191.10  193.20  191.10  193.05   8291407
           2024-11-25  194.70  194.75  192.25  192.35   8215118
           2024-11-26  190.10  190.30  188.80  189.85  12427002
           2024-11-27  189.15  189.45  187.00  187.10  15890418
           2024-11-28  187.00  187.10  185.45  186.80  14338446

### Initialize Tidal
1. Initialize Tidal object
2. Add Quote data (pd.DataFrame)
3. Set strategy object (td.BaseStrategy)
4. Add metric objects (td.BaseMetic)

In [9]:
# Initialize Tidal object
tidal = td.Tidal(init_cash=50000000, slip_ticks=1, stock_config=td.StockConfig.TW, load_configs=True, reqMem="1000Mi", ignore_volume_size=True)

# Add quote data
tidal.add_quote(quote_data)

# Set strategy object
tidal.set_strategy(td.strategy.TopkDropout(15, 1, 'new'))

# Set metric objects
tidal.add_metric(td.metric.AccountInfo())
tidal.add_metric(td.metric.AdditionalInfo())
tidal.add_metric(td.metric.PositionInfo())
tidal.add_metric(td.metric.Portfolio(benchmark_data.loc[benchmark_inst]))

[2024/11/29 17:12:09] root INFO Tidal client version: 1.1.41
[2024/11/29 17:12:09] root ERROR SocketClient tcp://10.136.7.24:6666: No module named 'tidal'
[2024/11/29 17:12:09] root INFO Tidal server version: None

### Stock Config

In [10]:
tidal.exchange.stock_config

InstConfig {Margin:0.0, Tick Size:0.002, Tick Value:0.002, Trade Unit:1000, Commission:0.0004275, Min Commission:20.0, Transaction Tax:0.003}

### Instrument Configs

In [11]:
tidal.exchange.inst_configs

{'TX': InstConfig {Margin:184000.0, Tick Size:1.0, Tick Value:200.0, Trade Unit:1, Commission:40.0, Min Commission:0.0, Transaction Tax:2e-05},
 'MTX': InstConfig {Margin:46000.0, Tick Size:1.0, Tick Value:50.0, Trade Unit:1, Commission:20.0, Min Commission:0.0, Transaction Tax:2e-05},
 'NQ': InstConfig {Margin:16500.0, Tick Size:0.25, Tick Value:5.0, Trade Unit:1, Commission:1.85, Min Commission:0.0, Transaction Tax:0.0}}

### Config Modification

In [12]:
# Set commission to 77% off
tidal.exchange.set_stock_config(commission=0.001425 * 0.23)
tidal.exchange.stock_config

InstConfig {Margin:0.0, Tick Size:0.002, Tick Value:0.002, Trade Unit:1000, Commission:0.00032775, Min Commission:20.0, Transaction Tax:0.003}

### Add New Instrument Config

In [13]:
# Add MGC config
tidal.exchange.set_config(instrument='MGC', margin=787., tick_size=0.1, tick_value=1., trade_unit=1, commission=2., min_commission=0., transaction_tax=0.)
tidal.exchange.inst_configs

{'TX': InstConfig {Margin:184000.0, Tick Size:1.0, Tick Value:200.0, Trade Unit:1, Commission:40.0, Min Commission:0.0, Transaction Tax:2e-05},
 'MTX': InstConfig {Margin:46000.0, Tick Size:1.0, Tick Value:50.0, Trade Unit:1, Commission:20.0, Min Commission:0.0, Transaction Tax:2e-05},
 'NQ': InstConfig {Margin:16500.0, Tick Size:0.25, Tick Value:5.0, Trade Unit:1, Commission:1.85, Min Commission:0.0, Transaction Tax:0.0},
 'MGC': InstConfig {Margin:787.0, Tick Size:0.1, Tick Value:1.0, Trade Unit:1, Commission:2.0, Min Commission:0.0, Transaction Tax:0.0}}

### Start Backtesting

In [14]:
tidal.backtest()
logs = tidal.get_logs()
for log in logs:
    print(log)

Tidal Backtesting: 100%|██████████| 39/39 [00:05<00:00,  6.60it/s, cash=2.46e+5, pnl=-8.09e+5, position_cost=4.7e+7, value=4.65e+7]

### Metric - AccountInfo

In [15]:
account_info = tidal.metrics["AccountInfo"].report
print(account_info)

                    cash     trade_cost  position_cost    slip_cost  \
datetime
2024-10-01  5.000000e+07       0.000000   0.000000e+00       0.0000
2024-10-04  3.606472e+06   15200.496912   4.637833e+07   40356.3268
2024-10-07  2.716268e+05   27495.032506   4.967358e+07  128506.7268
2024-10-08  2.396500e+05   38927.893750   4.981386e+07  121050.7268
2024-10-09  1.969179e+05   50828.325269   4.994330e+07  106832.6084
2024-10-11  2.163810e+05   62091.158832   4.987640e+07  211606.6084
2024-10-14  1.791899e+05   73813.476291   4.998161e+07  224475.4084
2024-10-15  2.558814e+05   84660.037121   4.981601e+07  191937.4084
2024-10-16  6.680216e+05  106371.953448   4.897263e+07   68285.2084
2024-10-17  2.322979e+05  118527.912342   4.958743e+07   35210.9536
2024-10-18  4.095234e+05  138382.431312   4.929486e+07  -84869.0464
2024-10-21  2.594828e+05  151938.496942   4.941653e+07  -66450.7012
2024-10-22  2.395148e+05  163448.204484   4.944228e+07  -76292.4012
2024-10-23  1.213570e+05  173856.000797   4.950003e+07  -48142.4012
2024-10-24  2.029604e+05  192470.590947   4.924902e+07   -5610.4012
2024-10-25  1.958152e+05  200831.841591   4.881178e+07  -13726.4012
2024-10-28  3.164370e+05  212098.001199   4.861739e+07  -15614.4012
2024-10-29  1.999575e+05  220364.876720   4.869119e+07  -32601.8012
2024-10-30  2.467834e+05  231450.983378   4.852491e+07  -58513.8012
2024-11-01  2.278993e+05  248393.079946   4.816038e+07    2178.1988
2024-11-04  2.314717e+05  258731.136628   4.785580e+07  -68232.2012
2024-11-05  2.322731e+05  269817.734896   4.791592e+07 -136120.2012
2024-11-06  2.725848e+05  278302.022377   4.783247e+07 -146916.2012
2024-11-07  1.815448e+05  290201.024840   4.805742e+07 -116275.2012
2024-11-08  2.136850e+05  304960.818815   4.821977e+07   41824.7988
2024-11-11  2.800194e+05  321918.435062   4.814642e+07   79732.7988
2024-11-12  2.436702e+05  331835.579474   4.786139e+07   94164.7988
2024-11-13  3.055088e+05  344242.449561   4.786069e+07   -1080.6012
2024-11-14  1.777564e+05  354033.985213   4.790965e+07   26880.1988
2024-11-15  1.335617e+05  365179.090048   4.800859e+07   48329.7988
2024-11-18  1.782854e+05  372779.359489   4.776355e+07   68505.7988
2024-11-19  1.430677e+05  383130.125463   4.780233e+07  102372.7988
2024-11-20  3.820945e+04  390387.352505   4.784497e+07  168973.7988
2024-11-21  1.651632e+05  401619.343979   4.771285e+07  161388.0988
2024-11-22  2.121963e+05  411796.551888   4.730814e+07  152727.6988
2024-11-25  2.299563e+05  421686.583600   4.725649e+07  142077.6988
2024-11-26  2.440645e+05  437798.026317   4.707333e+07  179058.0988
2024-11-27  3.897411e+05  449774.434679   4.697613e+07  162905.0988
2024-11-28  2.457887e+05  465599.953128   4.704206e+07  151431.8988

                     pnl         value  max_drawdown      turnover
datetime
2024-10-01  0.000000e+00  5.000000e+07      0.000000  0.000000e+00
2024-10-04 -5.898643e+05  4.939494e+07     -0.012101  4.637833e+07
2024-10-07  1.120186e+06  5.106539e+07      0.000000  9.453350e+06
2024-10-08  8.113421e+05  5.086485e+07     -0.003927  6.272016e+06
2024-10-09  6.449690e+04  5.020472e+07     -0.016854  6.536276e+06
2024-10-11 -8.673471e+05  4.922543e+07     -0.036031  6.136914e+06
2024-10-14 -6.518571e+05  4.950894e+07     -0.030480  6.434425e+06
2024-10-15 -9.132131e+05  4.915868e+07     -0.037339  5.862538e+06
2024-10-16 -4.686797e+05  4.917197e+07     -0.037078  1.152299e+07
2024-10-17 -3.021680e+05  4.951756e+07     -0.030311  6.998392e+06
2024-10-18 -8.507786e+05  4.885361e+07     -0.043313  1.070108e+07
2024-10-21 -4.434827e+05  4.923253e+07     -0.035892  7.528815e+06
2024-10-22 -4.278841e+05  4.925391e+07     -0.035474  6.304142e+06
2024-10-23  1.544659e+05  4.977586e+07     -0.025253  5.782750e+06
2024-10-24 -9.242661e+05  4.852771e+07     -0.049695  1.010218e+07
2024-10-25 -4.263301e+05  4.858127e+07     -0.048646  4.573616e+06
2024-10-28 -1.323992e+06  4.760984e+07     -0.067669  6.055712e+06
2024-10-29 -1.907942e+06  4.698321e+07     -0.079940  4.611787e+06
2024-10-30 -1.960212e+06  4.681148e+07     -0.083303  6.017912e+06
2024-11-01 -1.552585e+06  4.683570e+07     -0.082829  9.270967e+06
2024-11-04 -1.024554e+06  4.706272e+07     -0.078383  5.644750e+06
2024-11-05 -8.111741e+05  4.733702e+07     -0.073012  6.055952e+06
2024-11-06 -5.575681e+05  4.754748e+07     -0.068890  4.601884e+06
2024-11-07 -1.058671e+05  4.813309e+07     -0.057422  6.575141e+06
2024-11-08 -1.266567e+06  4.716688e+07     -0.076343  8.036900e+06
2024-11-11 -1.095471e+06  4.733097e+07     -0.073130  9.209508e+06
2024-11-12 -1.594539e+06  4.651052e+07     -0.089197  5.447568e+06
2024-11-13 -1.622187e+06  4.654401e+07     -0.088541  6.727125e+06
2024-11-14 -1.916798e+06  4.617061e+07     -0.095853  5.453961e+06
2024-11-15 -1.836294e+06  4.630586e+07     -0.093205  6.124842e+06
2024-11-18 -2.509850e+06  4.543199e+07     -0.110317  4.115324e+06
2024-11-19 -1.583577e+06  4.636182e+07     -0.092109  5.683527e+06
2024-11-20 -1.562717e+06  4.632046e+07     -0.092919  4.050679e+06
2024-11-21 -1.018003e+06  4.686001e+07     -0.082353  6.031850e+06
2024-11-22 -3.379425e+05  4.718240e+07     -0.076040  5.521210e+06
2024-11-25  5.249575e+05  4.801141e+07     -0.059805  5.388350e+06
2024-11-26  4.012231e+05  4.771861e+07     -0.065539  8.790104e+06
2024-11-27 -6.228329e+05  4.674304e+07     -0.084643  6.423159e+06
2024-11-28 -8.085645e+05  4.647929e+07     -0.089808  8.763621e+06

### Metric - PositionInfo

In [16]:
position_df = tidal.metrics["PositionInfo"].report
print(position_df)

                       quantity    price   commission  slip_cost       pnl  \
instrument datetime
1342       2024-10-04   33000.0  94.6890  1024.132552   -33363.0   -2937.0
           2024-10-07   33000.0  94.6890  1024.132552   -33363.0  191763.0
           2024-10-08   33000.0  94.6890  1024.132552   -33363.0  135663.0
           2024-10-09   33000.0  94.6890  1024.132552   -33363.0  119163.0
           2024-10-11   33000.0  94.6890  1024.132552   -33363.0   86163.0
...                         ...      ...          ...        ...       ...
9938       2024-11-22   41000.0  77.2542  1038.122626    59622.2  128977.8
           2024-11-25   41000.0  77.2542  1038.122626    59622.2  112577.8
           2024-11-26   41000.0  77.2542  1038.122626    59622.2   92077.8
           2024-11-27   41000.0  77.2542  1038.122626    59622.2   26477.8
           2024-11-28   41000.0  77.2542  1038.122626    59622.2   38777.8

                       now_price
instrument datetime
1342       2024-10-04       94.6
           2024-10-07      100.5
           2024-10-08       98.8
           2024-10-09       98.3
           2024-10-11       97.3
...                          ...
9938       2024-11-22       80.4
           2024-11-25       80.0
           2024-11-26       79.5
           2024-11-27       77.9
           2024-11-28       78.2

[570 rows x 6 columns]

In [17]:
pi_report = tidal.metrics['PositionInfo'].report
pi_report.iloc[pi_report.index.get_level_values('datetime') == '2022-06-14']

Empty DataFrame
Columns: [quantity, price, commission, slip_cost, pnl, now_price]
Index: []

### Metric - AdditionalInfo

In [18]:
tidal.metrics['AdditionalInfo'].report

                            new
instrument datetime
1101       2024-10-01  0.000269
           2024-10-04  0.000282
           2024-10-07  0.000288
           2024-10-08  0.000293
           2024-10-09  0.000295
...                         ...
9958       2024-11-22  0.000416
           2024-11-25  0.000675
           2024-11-26  0.000584
           2024-11-27  0.000395
           2024-11-28  0.000544

[12636 rows x 1 columns]

### Strategy Lake Submit

In [19]:
# group = dict(zip(df["coid"].astype(str), df["tejind4_c"]))
# submit_lake_backtest_result = tidal.submit_lake_monitor(account_info=account_info, position_df=position_df, benchmark_info=benchmark_data, group=group,lake_env="dev",strategy_id=19)
# print(submit_lake_backtest_result)

### Trade Report

In [20]:
tidal.trade_report

,win_num,lose_num,trade_num,pos_num,win_rate,profit,loss,trade_cost,pnl
instrument,,,,,,,,,
1815,3.0,2.0,5.0,1.0,0.600000,778745.728990,-411861.649093,2.999606e+06,366884.079897
4979,1.0,0.0,1.0,1.0,1.000000,343780.000000,0.000000,3.116220e+06,343780.000000
6231,1.0,0.0,1.0,0.0,1.000000,179277.541722,0.000000,1.195446e+04,179277.541722
2472,1.0,0.0,1.0,0.0,1.000000,54783.324586,0.000000,1.111268e+04,54783.324586
9938,1.0,0.0,1.0,1.0,1.000000,38777.800000,0.000000,3.167422e+06,38777.800000
3363,1.0,1.0,2.0,1.0,0.500000,133982.724572,-109140.000000,2.085965e+06,24842.724572
4163,1.0,0.0,1.0,1.0,1.000000,21728.000000,0.000000,3.142272e+06,21728.000000
4572,2.0,1.0,3.0,1.0,0.666667,54076.736304,-47464.762005,4.469167e+06,6611.974299
2640,1.0,1.0,2.0,0.0,0.500000,61136.900029,-60388.868750,2.279597e+04,748.031279
2388,0.0,1.0,1.0,1.0,0.000000,0.000000,-100197.000000,2.854197e+06,-100197.000000
1342,2.0,3.0,5.0,1.0,0.400000,79292.565118,-219188.204400,2.841570e+06,-139895.639282
2834,1.0,1.0,2.0,1.0,0.500000,5791.832479,-149600.000000,2.956751e+06,-143808.167521
6788,2.0,4.0,6.0,1.0,0.333333,302892.531763,-470764.717310,3.205869e+06,-167872.185546
6829,0.0,4.0,4.0,0.0,0.000000,0.000000,-257981.250992,3.686025e+04,-257981.250992
2014,0.0,1.0,1.0,0.0,0.000000,0.000000,-357810.351906,1.030985e+04,-357810.351906
2211,0.0,1.0,1.0,1.0,0.000000,0.000000,-383554.000000,3.283554e+06,-383554.000000
2031,0.0,2.0,2.0,1.0,0.000000,0.000000,-487659.135236,3.348428e+06,-487659.135236
6269,0.0,6.0,6.0,0.0,0.000000,0.000000,-596607.046958,6.935185e+04,-596607.046958
6664,0.0,3.0,3.0,1.0,0.000000,0.000000,-626858.465520,2.698468e+06,-626858.465520
6640,1.0,2.0,3.0,1.0,0.333333,60941.106062,-699524.554743,4.014571e+06,-638583.448681
2436,0.0,1.0,1.0,1.0,0.000000,0.000000,-641900.000000,3.145800e+06,-641900.000000

### Traded instruments

In [21]:
tidal.account.trades.keys()

dict_keys(['2834', '6640', '4979', '2436', '1342', '9938', '6788', '6269', '1815', '3363', '4163', '2014', '4572', '6664', '6231', '2031', '2211', '2640', '6829', '2472', '2388'])

### Trading History

In [22]:
# tidal.account.trades['3015']

### Plot chart by using Plotly

In [23]:
# tidal.analyzer.inst_chart(instrument='3015', metric_name='AdditionalInfo', plot_type=td.PlotType.LINE, scale=1.0)

### Tidal Dashboard

In [24]:
tidal.tdboard()

 * Serving Flask app 'tidal.tdboard'
 * Debug mode: off

[2024/11/29 17:12:16] werkzeug INFO WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:36689
 * Running on http://10.136.1.156:36689
[2024/11/29 17:12:16] werkzeug INFO Press CTRL+C to quit
[2024/11/29 17:12:24] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:24] "GET / HTTP/1.1" 200 -
[2024/11/29 17:12:24] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:24] "GET /static/js/main.d754b0a3.js HTTP/1.1" 200 -
[2024/11/29 17:12:25] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:25] "GET /static/css/main.bf4d504b.css HTTP/1.1" 200 -
[2024/11/29 17:12:25] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:25] "GET /images/Tidal_Logo_white.png HTTP/1.1" 200 -
[2024/11/29 17:12:25] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:25] "GET /api/quote/inst_list HTTP/1.1" 200 -
[2024/11/29 17:12:25] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:25] "GET /api/trade/trade_report HTTP/1.1" 200 -
[2024/11/29 17:12:26] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:26] "GET /api/metric/metric_list HTTP/1.1" 200 -
[2024/11/29 17:12:26] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:26] "GET /Tidal_Logo.png HTTP/1.1" 200 -
[2024/11/29 17:12:26] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:26] "GET /Tidal_Logo.png HTTP/1.1" 304 -
[2024/11/29 17:12:47] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:47] "POST /api/metric/metric_reports HTTP/1.1" 200 -
[2024/11/29 17:12:47] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:47] "GET /static/media/primeicons.78172950b335ccdb94e2.woff2 HTTP/1.1" 200 -
[2024/11/29 17:12:47] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:47] "GET /images/ph_arrows-out-cardinal.svg HTTP/1.1" 200 -
[2024/11/29 17:12:47] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:47] "GET /images/ph_x.svg HTTP/1.1" 200 -
[2024/11/29 17:12:48] werkzeug INFO 10.0.10.82 - - [29/Nov/2024 17:12:48] "POST /api/metric/metric_reports HTTP/1.1" 200 -

In [ ]:
tidal.account.position_history

In [ ]:
Portfolio_info = tidal.metrics["Portfolio"].report
print(Portfolio_info)